:root {
  --theme-color: #0d3e42;
  --card-color: #1f5862;
  --border-color: #129898;
}
/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  color: white;
  background-color: var(--theme-color);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 4px;
}
.header__title {
  color: #ffd956;
  padding: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.main-grid {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  width: 94%;
  height: 100%;
  border: none;
  box-shadow: rgba(18, 152, 152, 0.4) 0px 2px 4px,
    rgba(18, 152, 152, 0.3) 0px 7px 13px -3px,
    rgba(18, 152, 152, 0.2) 0px -3px 0px inset;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-color: var(--card-color);
}
.card__title {
  color: #ffd956;
  margin: 0 auto;
  /* text-align: center; */
}

.card__form-wrapper {
  width: 95%;
}
.card__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__label {
  margin: 6px 6px 0 0;
  display: block;
}

.card__btn-wrapper {
  display: flex;
  gap: 8px;
}
.card__input,
.card__btn {
  flex: 1;
  margin: 4px 0;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card__btn {
  background-color: var(--border-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
